.main-container {
    background-color: rgb(169, 166, 166);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-style{
    background-color: rgb(56, 118, 234);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    height: 30px;
    margin-top: 10px;
    align-self: center;
    width: 200px;
}

.label {
    width: 80px;
    
    
}
input {
    outline: none;
    border-radius: 5px;
    border: none;
    height: 30px;
}

.input-label-containr {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

form {
    width: 250px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(186, 183, 183);
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px grey;
}
@media screen and (min-width:767px) {
    form {
        width:40%;
    }
    .input-label-containr{
        width: 100%;
    }
    input {
        width: 80%;
    }
    
}

.error-msg {
    font-size: 10px;
    color: red;
}